/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
body {
    font-family: 'Open Sans', sans-serif;
}
.otherFont {
    font-family: 'Raleway', sans-serif;
}
.flex {
    display: flex;
}
.container {
    max-width: 1352px;
    margin: 0 auto;
}
    /*styles of header*/

header .container{
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px #00000029;
    padding-left: 136px;
    padding-right: 137px;
    justify-content: space-between;
    align-items: center;
}
header .header__logo {
    font-size: 32px;
    font-weight: lighter;
    color: #08A6E4;
}
header ul {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
}
header ul li:not(:last-child) {
    margin-right: 95px;
}
header ul li a {
    text-decoration: none;
    color: #A5A5A5;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3px;
}
header ul li a:hover {
    color: black;
    padding-bottom: 26px;
    border-bottom: 2px solid #07ACE6;
}

    /*styles for first section*/


section.firstSection {
    height: 550px;
    margin-top: 130px;
    background-image: url("../images/Background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}
section.firstSection .container {
    flex-direction: column;
    align-items: center;
}
section.firstSection h1 {
    font-size: 49px;
}
section.firstSection p {
    font-size: 16px;
    margin-top: 20px;
}
section.firstSection a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #08A6E4;
    padding: 22px 157px;
    border-radius: 40px;
    text-decoration: none;
    box-shadow: 5px 10px 14px #07ACE629;
    margin-top: 38px;
}

     /*styles for second section*/

section.secondSection .container {
    height: 531px;
}
section.secondSection h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 36px;
}
section.secondSection div.allColumns {
    margin-top: 100px;
    justify-content: space-evenly;
}
section.secondSection div.allColumns .eachColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.secondSection h3 {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 6px;
    margin: 20px auto;
}
section.secondSection p {
    font-size: 17px;
    color: #A5A5A5;
}